@use 'variables' as *;

.default-button {
    background: $primary-blue;
    color: $primary-background-color;
    display: flex;
    justify-content:space-around; 
    align-items:center;
    gap: 8px;                
    padding: 6px 16px;       
    font-size: 16px; 
    border-radius: 10px;
    width: 140px;
    height: 40px;
    border: 2px solid $primary-blue;
    font-weight: bold;
}

.return-button {
    background: $primary-background-color;
    color: $primary-blue;
    display: flex;
    justify-content:space-around; 
    align-items:center;
    gap: 4px;                
    padding: 6px 16px;       
    font-size: 16px; 
    border: 2px solid $primary-blue;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    font-weight: bold;
    text-decoration: none;
}

.reset-button {
    background: $primary-background-color;
    color: rgb(233, 63, 63);
    display: flex;
    justify-content:space-around; 
    align-items:center;
    gap: 4px;                
    padding: 6px 16px;       
    font-size: 16px; 
    border: 2px solid rgb(233, 63, 63);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    font-weight: bold;
    text-decoration: none;
}

.link-button {
    cursor: pointer;
    text-decoration: none;
}

.link-button:hover {
    cursor: pointer;
    opacity: 0.8;
}