
.clients-actions-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.clients-table-container {
    .edit-button {
        color: green;
    }
    .delete-button {
        color: rgb(233, 63, 63);
    }
}

.link-button {
    cursor: pointer;
    text-decoration: none;
}

.link-button:hover {
    cursor: pointer;
    opacity: 0.8;
}