@use 'variables' as *;

.actions-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-container {
    .edit-button {
        color: $primary-green;
    }
    .delete-button {
        color: $primary-red;
    }
    .info-button {
        color: $primary-blue
    }
}

.link-button {
    cursor: pointer;
    text-decoration: none;
}

.link-button:hover {
    cursor: pointer;
    opacity: 0.8;
}